{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Editar Bookmark</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_start(edit_form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bookmark[name]">Nome</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(edit_form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bookmark[url]">URL</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(edit_form.url, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="submit">Criar</button>
                    </div>
                </div>
                {{ form_end(edit_form) }}
                <ul class="nav panel_toolbox">
                    <li>
                        <a href="{{ path('bookmark_index') }}"><i class="fa fa-arrow-left"></i> Voltar</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
