{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% if not is_granted('ROLE_ADMIN') %}
            <h1>Meus Bookmarks
                <span>
                    <a class="btn btn-primary" href="{{ path('bookmark_new') }}" rold="button">Adicionar novo</a>
                </span>
            </h1>
        {% else %}
            <h1>Listagem de Bookmarks por Usuário</h1>
        {% endif %}
    {% endif %}
    <div class="col-md-12 col-sm-12 col-xs-12 pl0">
        <div class="x_panel">
            <div class="x_content">
                {% if is_granted('ROLE_USER') %}
                    {% if not is_granted('ROLE_ADMIN') %}
                        {%  if bookmarks|length > 0 %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Url</th>
                                        <th>Criado em:</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bookmark in bookmarks %}
                                        <tr>
                                            <td>{{ bookmark.name }}</td>
                                            <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
                                            <td>{% if bookmark.createdAt %}{{ bookmark.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                                            <td>
                                                <ul class="nav panel_toolbox">
                                                    <li>
                                                        <a class="collapse-link" href="{{ path('bookmark_edit', { 'id': bookmark.id }) }}"><i class="fa fa-pencil"></i></a>
                                                    </li>
                                                    <li>
                                                        <a class="close-link" href="{{ path('bookmark_delete', { 'id': bookmark.id }) }}" onclick="return confirm('Você tem certeza?')"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4>Nenhum bookmark cadastrado.</h4>
                        {% endif %}
                    {% else %}
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for user in users  %}
                                <div class="panel">
                                    <a class="panel-heading collapsed" role="tab" id="heading{{ user.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ user.id }}" aria-expanded="false" aria-controls="collapse{{ user.id }}">
                                        <h4 class="panel-title">{{ user.username }}</h4>
                                    </a>
                                    <div id="collapse{{ user.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ user.id }}">
                                        <div class="panel-body">
                                            {%  if user.bookmarks.count > 0 %}
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Url</th>
                                                        <th>Criado em:</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for bookmark in user.bookmarks %}
                                                        <tr>
                                                            <td>{{ bookmark.name }}</td>
                                                            <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
                                                            <td>{% if bookmark.createdAt %}{{ bookmark.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <h4>Nenhum bookmark cadastrado.</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}