{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bookmark</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bookmark.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ bookmark.userId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bookmark.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ bookmark.url }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if bookmark.createdAt %}{{ bookmark.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if bookmark.updatedAt %}{{ bookmark.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bookmark_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bookmark_edit', { 'id': bookmark.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
