<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}M4U Bookmarks Manager{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/m4u/css/*'
        'bundles/m4u/fonts/css/font-awesome.min.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon"
          href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="containerLogin">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            {% block body %}{% endblock %}
        </div>
    </div>
    {% javascripts
    'bundles/m4u/js/jquery/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>