<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}M4U Bookmarks Manager{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/m4u/css/*'
        'bundles/m4u/fonts/css/font-awesome.min.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>


<body class="nav-md">

    <div class="container body">
        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title">
                        <a href="{{ path('dashboard_home') }}" class="site_title"><i class="fa fa-star"></i> <span>M4U Dashboard</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <div class="profile">
                        <div class="profile_info">
                            <span>Bem vindo, <h2>{{ user.username }}</h2></span>
                        </div>
                    </div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="{{ path('bookmark_index') }}"><i class="fa fa-star"></i> Bookmarks </a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('users') }}"><i class="fa fa-user"></i> Usuários </a></li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    {% if not is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('my_account', { 'id': user.id }) }}"><i class="fa fa-user"></i> Meus dados </a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    {{ user.username }}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    {% if is_granted('ROLE_USER') %}
                                        {% if not is_granted('ROLE_ADMIN') %}
                                            <li><a href="{{ path('my_account', { 'id': user.id }) }}">  Meus dados</a>
                                        {% endif %}
                                    {% endif %}
                                    </li>
                                    <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">
                {% block body %}{% endblock %}
            </div>
            <!-- /page content -->
        </div>
    </div>
    {% javascripts
    'bundles/m4u/js/jquery/*'
    'bundles/m4u/js/base/*'
    'bundles/m4u/js/base/nicescroll/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>

