{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-signin" name='register_form' id='register_form' method='post' action='{{path('create')}}'>
        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'User Name'}}) }}

        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}

        {{ form_widget(form.confirm, {'attr': {'class': 'form-control', 'placeholder':'Confirm Password'}}) }}

        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
{% endblock %}