{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listagem de Usuários</h1>

    <div class="col-md-12 col-sm-12 col-xs-12 pl0">
        <div class="x_panel">
            <div class="x_content">
                {% if users|length > 0 %}
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for user in users  %}
                            <div class="panel">
                                <a class="panel-heading collapsed" role="tab" id="heading{{ user.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ user.id }}" aria-expanded="false" aria-controls="collapse{{ user.id }}">
                                    <h4 class="panel-title">{{ user.username }}</h4>
                                </a>
                                <div id="collapse{{ user.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ user.id }}">
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Usuario</th>
                                                <th>Email</th>
                                                <th>Criado em:</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ user.username }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>{% if user.createdAt %}{{ user.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4>Nenhum usuário cadastrado.</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}