{% extends '::base-login.html.twig' %}

{% block body %}
    <div id="login" class="animate form">
        <section class="login_content">
            {% if error %}
                <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
                <h1>Login</h1>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div>
                    <input type="text" class="form-control" placeholder="Usuário" id="username" name="_username" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Senha" id="password" name="_password" required="" />
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit">Login</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">

                    <p class="change_link">Ainda não possui uma conta?
                        <a href="#toregister" class="to_register"><strong>Criar conta</strong></a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-star" style="font-size: 26px;"></i> M4U Bookmarks Manager</h1>
                        <p>©2016 Todos os direitos reservados.</p>
                    </div>
                </div>
            </form>
            <!-- form -->
        </section>
        <!-- content -->
    </div>
    <div id="register" class="animate form">
        <section class="login_content">
            {% if error %}
                <div class="alert-error">{{ error.message }}</div>
            {% endif %}
            {{ form_start(form) }}
                <h1>Criar conta</h1>
                {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder':'Usuario'}}) }}

                {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder':'Senha', 'type':'password'}}) }}

                {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder':'E-mail'}}) }}
                <div>
                    <button type="submit" class="btn btn-default submit">Criar</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">

                    <p class="change_link">Já possui uma conta?
                        <a href="#tologin" class="to_register"><strong>Login</strong></a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-star" style="font-size: 26px;"></i> M4U Bookmarks Manager</h1>
                        <p>©2016 Todos os direitos reservados.</p>
                    </div>
                </div>
            {{ form_end(form) }}
            <!-- form -->
        </section>
        <!-- content -->
    </div>
{% endblock %}
