{% extends '::base-login.html.twig' %}

{% block body %}
    <div id="onlyRegister" class="animate form">
        <section class="login_content">
            {% if error %}
                <div class="alert-error">{{ error.message }}</div>
            {% endif %}
            {{ form_start(form) }}
                <h1>Criar conta</h1>
                {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder':'Usuario'}}) }}

                {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder':'Senha', 'type':'password'}}) }}

                {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder':'E-mail'}}) }}
                <div>
                    <button type="submit" class="btn btn-default submit">Criar</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div>
                        <h1><i class="fa fa-star" style="font-size: 26px;"></i> M4U Bookmarks Manager</h1>
                        <p>©2016 Todos os direitos reservados.</p>
                    </div>
                </div>
            {{ form_end(form) }}
            <!-- form -->
        </section>
        <!-- content -->
    </div>
{% endblock %}
